body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* ......HEADER SECTION......*/
header {
    width: 100%;
    height: 69px;
    background-color: #000;
    border-bottom: 1px solid seashell;
    position: fixed;
    align-items: center;
    z-index: 1;

}


header img {
  height: 50px;
  padding-left: 10px;
}

nav {
    flex-grow: 1;
    text-align: right;
  }

nav span a {
  margin: 20px 20px;
  color: seashell;
  text-decoration: none;
}
nav span a:hover {
  text-decoration: underline;
}

/* ......MAIN SECTION......*/

.main-content {
  width: 1200px;
  margin: auto;
  opacity: 0.9;
}
.mission {
  height: 700px;
  background-image: url('../img/background.jpg');
  padding-top: 90px;
}

.mission__content {
    margin: auto;
    background-color: black;
    width: 100%;
}

h2{
  margin: 0;
  padding: 5px;
  font-size: 1.5em;

}
